<%- include('../partials/header.ejs') %>

<div id="allBooks">
    <ul>
        <% books.forEach(book => { %>
            <li><a href="/books/<%= book._id %>"><%= book.titleText %></a></li>
        <% }) %>
    </ul>
</div>

<div class="action-bar">
    <a class="action" href="/books/new">Add</a>
</div>

<%- include('../partials/footer.ejs') %>