<%- include('../partials/header.ejs') %>

<h1>Show all books</h1>

<ul>
    <% books.forEach(book => { %>
        <li><a href="/books/<%= book._id %>"><%= book.titleText %></a></li>
    <% }) %>
</ul>

<%- include('../partials/footer.ejs') %>