<%- include('../partials/header.ejs') %>

<ul>
    <% books.forEach(book => { %>
        <li><a href="/books/<%= book._id %>"><%= book.titleText %></a></li>
    <% }) %>
</ul>

<form action="/books/new"><button type="submit">Add</button></form>

<%- include('../partials/footer.ejs') %>