<%- include('../partials/header.ejs') %>

<div id="newBook">
<form id="newForm" action="/books" method="post">

    <label for="personName">Author</label>
    <input type="text" name="personName" id="personName" required>

    <label for="titleText">Title</label>
    <input type="text" name="titleText" id="titleText" required>

    <label for="cityOfPublication">City of Publication</label>
    <input type="text" name="cityOfPublication" id="cityOfPublication">

    <label for="publishingDate">Publishing Date</label>
    <input type="number" name="publishingDate" id="publishingDate">

    <button type="submit">Submit</button>
</form>
</div>

<div class="action-bar">
    <button form="newForm" class="action" type="submit">Submit changes</button>
    <a class="action" href="/books">Return without changes</a>
</div>

<%- include('../partials/footer.ejs') %>