/* ! General */

body {
    background-color: blanchedalmond;
    font-family: 'Garamond';
    line-height: 1.5;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.container {
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a.action, button.action {
  color: inherit;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.2);
  padding: .5em;
  border: none;
  cursor: pointer;
  font: inherit;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color 0.1s ease;
}

/* ! Header */

header img {
  width: 100%;
  height: auto;
  display: block;
}

header nav {
  background-color: rgba(0, 0, 0, 0.1);
  padding: .5rem;
}

nav ul {

  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

/* ! Action Bar */

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: .5rem
}

/* ! New book */

#newBook {
  width: 100%;  
  display: grid;
  grid-template-columns: 8rem 1fr;
  gap: .5rem;
  align-items: center;
}